{% comment %}
ATB-SCHEMA{
  "name": {
    "de": "Kategorien-Liste",
    "en": "Collection list",
    "es": "Lista de colecciones",
    "fr": "Liste des collections",
    "it": "Elenco delle collezioni",
    "ja": "コレクションリスト",
    "pt-BR": "Lista de coleções"
  },
  "class": "index-section",
  "max_blocks": 12,
  "id": "collection-list",
  "banner": "",
  "icon": "",
  "tags": "",
  "description": "",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": ""
    },
    {
      "type": "text",
      "id": "atb_title",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "pt-BR": "Título"
      },
      "default": {
        "de": "Kategorien-Liste",
        "en": "Collection list",
        "es": "Lista de colecciones",
        "fr": "Page de liste des collections",
        "it": "Elenco delle collezioni",
        "ja": "コレクションリスト",
        "pt-BR": "Lista de coleções"
      },
      "info": ""
    },
    {
      "type": "range",
      "id": "atb_grid",
      "label": {
        "de": "Kategorien per Reihe",
        "en": "Collections per row",
        "es": "Colecciones por fila",
        "fr": "Collections par rangée",
        "it": "Collezioni per riga",
        "ja": "行あたりのコレクション数",
        "pt-BR": "Coleções por linha"
      },
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3,
      "info": ""
    },
    {
      "label": {
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "pt-BR": "Coleção"
      },
      "id": "block_collection",
      "type": "collection",
      "repeatable": "Collection",
      "info": ""
    }
  ],
  "warnings": []
}ATB-SCHEMA
{% endcomment %}


{% include 'atb-render' field:'section_id' %}
{% assign section_id = val %}
{% include 'atb-render' field:'atb_title' %}
{% assign atb_title = val %}
{% include 'atb-render' field:'atb_grid' %}
{% assign atb_grid = val %}
{% include 'atb-render' field:'block_collection' %}
{% assign block_collection = val %}
{% assign atb_grid = atb_grid | plus: 0 %}

<section id="shopify-section-{{section_id}}" class="shopify-section index-section">
<div class="page-width">
  {% if atb_title != blank %}
    <div class="section-header text-center">
      <h2>{{ atb_title | escape }}</h2>
    </div>
  {% endif %}

  {% case atb_grid %}
    {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
  {% endcase %}

  <div class="collection-grid">
    <ul class="grid grid--uniform">
      {% for block_collection0 in block_collection limit: block_collection.size %}
        <li class="grid__item {{ grid_item_width }}" {{ block.shopify_attributes }}>
          {%- assign collection = collections[block_collection[forloop.index0]] -%}
          {% include 'collection-grid-item' %}
        </li>
      {% endfor %}
    </ul>
  </div>

  {% if block_collection.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>




</section>