<div class="azexo-credits"  style="display: block; text-align: center; margin: 0; padding: 10px 0; font-size: 70%; opacity: 0.7;">
    <span>Powered by <a href="https://apps.shopify.com/azexo">AZEXO</a> Shopify page builder</span>
</div>